<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Collatz</title>
</head>
<body>

    <h1>Ingrese un numero para calcular secuencia de Collatz</h1>
    <form action="/service/calculo/" method="POST">
       <input type="number" name="numero" min="1">
       <button type="submit">Enviar</button> 
    </form>

    {% if numeros %}
        <h3> Calculo realizado con exito!, presione el boton para generar su reporte</h3>
        <a href="generar-reporte/"><button>Descargar Reporte</button></a>
    {% endif %}
    
</body>
</html>