<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
</head>
<body>
    
    <h1>La secuencia de numeros es:</h1>

    <p>
    {% for item in numeros %}
        {{item}},
    {% endfor %}
    </p>

    <div style="margin-top: 70px;">    
        <h4 >Fecha reporte: {{fecha}}</h4>
    </div>
</body>
</html>